.stripe-card-wrapper label {
    color: #6b7c93;
    font-weight: 300;
    letter-spacing: 0.025em;
}

.stripe-card-wrapper button {
    white-space: nowrap;
    border: 0;
    outline: 0;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    background-color: #6772e5;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    margin-top: 10px;
}

.stripe-card-wrapper button:hover {
    color: #fff;
    cursor: pointer;
    background-color: #7795f8;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.stripe-card-wrapper input,
.stripe-card-wrapper .StripeElement {
    display: block;
    margin: 10px 0 20px 0;
    max-width: 500px;
    padding: 10px 14px;
    font-size: 1em;
    font-family: "Source Code Pro", monospace;
    box-shadow: rgb(50 50 93 / 38%) 0px 1px 3px, rgb(0 0 0 / 2%) 0px 1px 0px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    background: white;
}

.stripe-card-wrapper input::placeholder {
    color: #aab7c4;
}

.stripe-card-wrapper input:focus,
.stripe-card-wrapper .StripeElement--focus {
    box-shadow: rgb(50 50 93 / 35%) 0px 4px 6px, rgb(0 0 0 / 8%) 0px 1px 3px;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.stripe-card-wrapper .StripeElement.IdealBankElement,
.stripe-card-wrapper .StripeElement.FpxBankElement,
.stripe-card-wrapper .StripeElement.PaymentRequestButton {
    padding: 0;
}

.stripe-card-wrapper .StripeElement.PaymentRequestButton {
    height: 40px;
}

.stripe-card-wrapper .stripe-card_field_label {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;
}

.stripe-card_field_button {
    width: 100%;
    margin-top: 25px !important;
}

.payment-divider {
    width: 100%;
    border-bottom: 2px solid #6b7c9361;
    margin-top: 20px;
    margin-bottom: 20px;
}