@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

/* primary */
$moderate-blue: hsl(238, 40%, 52%);

/* neutral */
$main-color: #3D3649;
$light-gray: hsl(223, 19%, 93%);
$very-light-gray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

/* typography */
$fw-regular: 400;
$fw-medium: 600;
$fw-bold: 700;
