.landing-gradient-text {
  background: linear-gradient(180deg, #DD00FF 0%, #782FEE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.landing-subtitle {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;
}
.landing-heart {
  width: 100%;
}
.landing-white-heart {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transition: opacity .2s;
}
.landing-w-100 {
  width: 100%;
}
.landing-h-100 {
  height: 100%;
}
.landing-game-border {
  border-left: 5px solid #782FEE;
}
.landing-accordion {
  border-radius: 45px !important;
}
