.profilePic {
    border-radius:1000px;
    width:200px;
    height:200px;
}

.coverSection{
    background-color: #782fee;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
    /* height:300px; */
}

.horizontalScroll::-webkit-scrollbar {
    display: none;
  }

.modal{
    max-width:700px;
    width:400px;
    height:70%;
    background-color: white;
    border-radius: 20px;
    margin-left: calc(50% - 200px);
    margin-top:10%;
    padding:20px;
}

.image_item{
    position: relative;
    cursor: pointer;
}
.image_item_img{
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 117px;

}

.image_item-form{
    position: absolute;
    border: 2px dashed #6a727a;
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.image_item:hover .image_item-form{
    display: block;
}

.image_item-form--lable{
    padding: 9px 15px;
    border-radius: 4px;
    font-size: 18px;
    color: White;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.image-item-form-input{
    height: 100px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}