.profilePic {
    border-radius:1000px;
    width:200px;
    height:200px;
}

.coverSection{
    background-color: #782fee;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
    /* height:300px; */
}

.horizontalScroll::-webkit-scrollbar {
    display: none;
  }

.modal{
    max-width:700px;
    width:400px;
    height:70%;
    background-color: white;
    border-radius: 20px;
    margin-left: calc(50% - 200px);
    margin-top:10%;
    padding:20px;
}

/* Swiper Slider */

.swiper-button-prev, .swiper-button-next {
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    color: grey;
    font-weight: 700;
    outline: 0;
    transition: background-color .2s ease, color .2s ease;
  }
.swiper-button-prev::after,.swiper-button-next::after{
    font-size: 50px;
}
  
  .swiper-button-prev::after{
    position: relative;
    left: -1px;
  }
  
  .swiper-button-next::after {
    position: relative;
    left: 1px;
  }
  
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: -70px;
    right: auto;
  }
  
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: -70px;
    left: auto;
  }
  
  .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    color: lightgray;
    cursor: auto;
    pointer-events: none;
  }