.SignUpPage{
    display:flex;
    justify-content: center;
    align-items: center;
    /* height:100vh; */
    flex-direction: row;
    padding-bottom: 100px;
    background-image: linear-gradient(to bottom right, #4b26a3, #d442f5);
}

.CredentialBox{
    width:500px;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius:10px;
    padding:50px;
    padding-bottom:30px;
    margin: 5rem 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.CredentialBoxWrapper{
    /* width:800px; */
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* background-color: blueviolet; */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.CredentialBoxWrapper:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.TextInputWrapper{
    padding:10px;
    width:80%;
}
.TextInputWrapper * {
    width:100%;
}

.ChangePasswordDiv {
    width: 220px;
}

.ChangeEmailDiv {
    width: 260px;
}

.SignUpWithGoogle{
    height:40px;
    width:65%;
    border-radius: 5px;
    /* border-color:#ccc;
    border-style: solid; */
    border-width: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    margin:10px;
    /* padding-left:20px; */
    /* padding-right:20px; */
    color:#333;
    text-transform: none;

}
.SignUpWithGoogle:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  }

.profile_pic input{
    display: none;
    opacity: 0;
    cursor: pointer;
}

.profile_pic--icon{
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 1px;
    color: black;
    background-color: #fff;
    cursor: pointer;
}